
development
Bootil/projects/obj/
Bootil/projects/release_x64_windows/
Bootil/projects/release_x32_windows/
Bootil/projects/release_x64_linux/
Bootil/projects/release_x32_linux/
**/.vs/
source/modules/template.c++
source/modules/32x/**
source/modules/64x/**
source/sourcesdk/tempshit
workflow_info.txt
!development/module/premake5.lua