name: Build GhostInj

on: 
  push:
    paths:
      - '.github/workflows/compile-ghostinj.yml'
      - 'ghostinj-dll/source/**'
      - 'ghostinj-dll/premake5.lua'
  pull_request:
  workflow_dispatch:

jobs:
  build_ghostinj:
    name: "Build GhostInj"
    uses: RaphaelIT7/gmod-common-module-base/.github/workflows/compile.yml@workflow
    with:
      PROJECT_PATH: "ghostinj-dll/"
      PROJECT_NAME: "ghostinj"
      BUILD_64x: "true"
      LINUX_FILEEXTENTION: "dll"
      BUILD_WINDOWS: "false"
      USE_PREFIX: "false"
      ARTIFACT_EXPIRE: "1"
      SOURCESDK_MINIMAL: "RaphaelIT7/sourcesdk-minimal"
      SOURCESDK_MINIMAL_BRANCH: "patch-7"
      SOURCESDK_MINIMAL_64XBRANCH: "x86-64-patch-2"
      GARRYSMOD_COMMON: "RaphaelIT7/garrysmod_common"