name: Build Plugin

on: 
  push:
    paths:
      - '.github/workflows/compile.yml'
      - 'source/**'
      - 'gluatests/**'
      - 'libs/**'
      - 'premake5.lua'
      - '!source/public/README.md'
  pull_request:
  workflow_dispatch:

env:
  LOKI_PUBLIC: https://loki-public.raphaelit7.com # A completely seperate public loki server with bare minimum resources exposed for forks to use. (Yes anyone could abuse it but fk em, it doesn't have resources for any useful shit other than this.)

jobs:
  build_plugin_windows:
    name: "Build Plugin"
    uses: RaphaelIT7/gmod-common-module-base/.github/workflows/compile.yml@workflow
    with:
      PROJECT_NAME: "holylib"
      BUILD_64x: "false"
      REALM: "sv"
      LINUX_FILEEXTENTION: "so"
      BUILD_WINDOWS: "true"
      BUILD_LINUX: "false"
      ARTIFACT_EXPIRE: "7"
      SOURCESDK_MINIMAL: "RaphaelIT7/sourcesdk-minimal"
      SOURCESDK_MINIMAL_BRANCH: "patch-7-network_test"
      SOURCESDK_MINIMAL_64XBRANCH: "x86-64-patch-3"
      GARRYSMOD_COMMON: "RaphaelIT7/garrysmod_common"
      BUILD_CACHE: "true"
      UPLOAD_PDB: "true"

  build_plugin_windows_dedicated:
    name: "Build Plugin (Dedicated)"
    uses: polepie/gmod-common-module-base/.github/workflows/compile.yml@workflow
    with:
      PROJECT_NAME: "holylib"
      BUILD_64x: "false"
      REALM: "sv"
      LINUX_FILEEXTENTION: "so"
      BUILD_WINDOWS: "true"
      BUILD_LINUX: "false"
      ARTIFACT_EXPIRE: "7"
      SOURCESDK_MINIMAL: "RaphaelIT7/sourcesdk-minimal"
      SOURCESDK_MINIMAL_BRANCH: "patch-7-network_test"
      SOURCESDK_MINIMAL_64XBRANCH: "x86-64-patch-3"
      GARRYSMOD_COMMON: "RaphaelIT7/garrysmod_common"
      BUILD_CACHE: "true"
      UPLOAD_PDB: "true"
      BUILD_WINDOWS_DEDICATED: "true"

  build_plugin_linux:
    name: "Build Plugin"
    uses: RaphaelIT7/gmod-common-module-base/.github/workflows/compile.yml@workflow
    with:
      PROJECT_NAME: "holylib"
      BUILD_64x: "false"
      REALM: "sv"
      LINUX_FILEEXTENTION: "so"
      BUILD_WINDOWS: "false"
      ARTIFACT_EXPIRE: "7"
      SOURCESDK_MINIMAL: "RaphaelIT7/sourcesdk-minimal"
      SOURCESDK_MINIMAL_BRANCH: "patch-7-network_test"
      SOURCESDK_MINIMAL_64XBRANCH: "x86-64-patch-3"
      GARRYSMOD_COMMON: "RaphaelIT7/garrysmod_common"
      BUILD_CACHE: "true"

  build_testingarea:
    name: "Build 32x (Testing Area - Dev)"
    if: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') }}
    uses: RaphaelIT7/gmod-common-module-base/.github/workflows/compile.yml@workflow
    secrets:
      PTERODACTYL_KEY: ${{ secrets.PTERODACTYL_KEY }}
      PTERODACTYL_SERVER: ${{ secrets.PTERODACTYL_SERVER }}
      PTERODACTYL_URL: ${{ secrets.PTERODACTYL_URL }}
    with:
      PROJECT_NAME: "holylib"
      BUILD_64x: "false"
      REALM: "sv"
      LINUX_FILEEXTENTION: "so"
      BUILD_WINDOWS: "false"
      UPLOAD: "pterodactyl"
      SOURCESDK_MINIMAL: "RaphaelIT7/sourcesdk-minimal"
      SOURCESDK_MINIMAL_BRANCH: "patch-7-network_test"
      SOURCESDK_MINIMAL_64XBRANCH: "x86-64-patch-3"
      GARRYSMOD_COMMON: "RaphaelIT7/garrysmod_common"
      PTERODACTYL_RESTART_SLEEPTIME: "0"
      PTERODACTYL_RESTART: "true"
      BUILD_CACHE: "true"
      NO_SAVE_CACHE: "true" # Cache will only be updated by main compiles in build_plugin_linux job

  build_ghostinj:
    name: "Build GhostInj"
    uses: RaphaelIT7/gmod-common-module-base/.github/workflows/compile.yml@workflow
    with:
      PROJECT_PATH: "ghostinj-dll/"
      PROJECT_NAME: "ghostinj"
      BUILD_64x: "false"
      LINUX_FILEEXTENTION: "dll"
      BUILD_WINDOWS: "false"
      USE_PREFIX: "false"
      ARTIFACT_EXPIRE: "1"
      SOURCESDK_MINIMAL: "RaphaelIT7/sourcesdk-minimal"
      SOURCESDK_MINIMAL_BRANCH: "patch-7-network_test"
      SOURCESDK_MINIMAL_64XBRANCH: "x86-64-patch-3"
      GARRYSMOD_COMMON: "RaphaelIT7/garrysmod_common"
      BUILD_CACHE: "true"